<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/admin/tables/categories">Categories</a>
                <a class="nav-link" href="/admin/tables/products">Products</a>
                <a class="nav-link" href="/admin/tables/blog">Blog</a>
                <a class="nav-link " href="/admin/tables/order-cart">Orders
                    Information</a>
            </div>
        </div>
    </div>
</nav>
<div class="d-flex justify-content-end">
    <a href="/admin/tables/order-cart/export" class="btn btn-success mt-4">Export Files</a>
</div>
{{!-- tables --}}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Size</th>
            <th scope="col">Order Cart</th>
            {{!-- <th scope="col">Price</th>
            <th scope="col">Quantity</th> --}}
            <th scope="col">Total Price</th>
            <th scope="col">Note</th>
            <th scope="col">Method Payment</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        {{#each checkOut}}
        <tr>
            {{!-- cách viết sum @index 1 <=> sum(index,1) --}}
                <th scope="row">{{ sum @index 1 }}</th>
                <td>{{this.name}}</td>
                <td>{{this.address}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.email}}</td>
                <td>{{this.size}}</td>
                <td>
                    {{#each this.orderCart}}
                    <b>Name Product</b>: {{this.name}} - <b>Price</b>: {{formatAmount this.price}} -
                    <b>Quantity</b>: {{this.quantity}}<br />
                    {{/each}}
                </td>
                <td>{{formatAmount this.totalPrice}}</td>
                <td>{{this.note}}</td>
                <td>{{this.payment}}</td>
                <td>{{this.createdAt}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<form action="" method="GET">
    <nav aria-label="...">
        <ul class="pagination pagination-sm">
            <li class="page-item " aria-current="page">
                <input class="page-link" type="submit" value="1" name="p">
            </li>
            <li class="page-item " aria-current="page">
                <input class="page-link" type="submit" value="2" name="p">
            </li>
            <li class="page-item " aria-current="page">
                <input class="page-link" type="submit" value="3" name="p">
            </li>

        </ul>
    </nav>
</form>